
.container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    background-color: lightblue;
    border-radius: 10px;
    border: 2px solid gray;
}

.map-section {
    flex: 2;
    margin: 10px;
    padding: 10px;
    border-right: 2px solid gray;
}

.info-section {
    flex: 1;
    margin: 10px;
    padding: 10px;
    align-content: center;
    text-align: center;
}

<<<<<<< HEAD
.title {
    border-bottom: 2px solid gray;
}
=======
>>>>>>> e9bb418 (adds svg element and finishes Part E)
